<!-- About section -->
      <div class="section scrollspy section-gray-section" id="about">
        <div class="container">
          <h4 class="center-align section-gray-header">About SCR</h4>
          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
                <p>After a two-year hiatus following <a href="http://robotics.usc.edu/scr/2016/index.html">SCR 2016</a>, <a href="http://robotics.usc.edu/scr/">SCR 2017</a>, and <a href="http://scr2019.caltech.edu">SCR 2019</a>, we are excited to bring back the Southern California Robotics Symposium (SCR), September 2022 at UCLA.  SCR 2022 is a two-day technical symposium that focuses on in-person interactions, bringing together roboticists from around Southern California. With a high density of academic institutions, research centers, and industry players, SCR is expected to draw a diverse audience with broad expertise and interests.</p>
      

                <p>The highlight of our symposium will be the poster session, which will foster more research discussions and networking opportunities than traditional conference talks.  We will also have workshops, short talks, and plenty of opportunities to meet and mingle.  The personable, local nature of our conference will create lasting engagement, partnerships, and collaborations beyond the event.</p>

                <p>{{site.conference_title_short}} {{site.year}}'s <b>theme</b> is:</p>

                <p class="center-align"><i>"Real Solutions to Real Problems impacting Real People"</i></p>

                <p>Throughout all posters, workshops, and talks, we call upon researchers to focus on the motivation and human impact of their work. <b>What</b> problems are you solving, <b>who</b> is affected, and <b>how</b> does your solution address these problems?</p>
            </div>
          </div>
        </div>
      </div>
      


