			<!-- Banner section -->
      <div id="banner" class="banner">
        <div class="container" style="text-align:right">
          <h2 class="center-align banner-heading">Southern California Robotics Symposium</h2>
          <h3 class="center-align banner-subheading">brought to you by Amazon</h3>
          <br/>
          <h4 class="center-align banner-subheading"><i>Real Solutions to Real Problems impacting Real People</i></h4>
          <h4 class="center-align banner-subheading">UCLA, Sept. 22-23, 2022</h4>
          <br />
          <a href="{{site.registration-page}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Register Now!!</a>
          <br />
          <div class="row">
            <div class="col l2 m4 s6 offset-l4 offset-m2">
              <a href="https://aws.amazon.com/opensource/"><img class="responsive-img" src="img/sponsors/aws_logo_wbg.png"></a>
            </div>
            <div class="col l2 m4 s6 offset-l4 offset-m2">
              <a href="https://ftx.com/"><img class="responsive-img" src="img/sponsors/ftx_logo_wbg.png"></a>
            </div>                                                    
          </div>
        </div>
      </div>
