<!-- Booths section -->
      <div class="section scrollspy section-white-section" id="booths">
        <div class="container">
          <h4 class="center-align section-white-header">Sponsorships & Exhibition Booths</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">

              <p class="left">Sponsorship opportunities and exhibition booths during {{site.conference_title_short}} {{site.year}} are now available for companies who would like to support this year's symposium. Booths will be prominently displayed in the symposium and are a great way to promote your company to high-achieving researchers. Please contact us at <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> for more information.
              </p>

              <br>  
              <p></p>
              <div class="container" style="text-align:center">
                <a href="/files/SCR2022_Sponsorship_Flyer_black.pdf" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
