<!-- Posters section -->
      <div class="section scrollspy section-white-section" id="howtocontribute">
        <div class="container">
          <h4 class="center-align section-white-header">How to Contribute</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">              
              <ol class="browser-default">
                  <li><b><a href="#posters">Posters</a>:</b> The main event of this symposium; everyone is invited to apply for a poster. An excellent opportunity to initiate discussions, network, and establish long-lasting collaborations with fellow colleagues across a diverse range of robotic disciplines</li>
                  <li><b><a href="#workshops">Workshops</a>:</b> Hands-on demonstrations or tutorials designed to fully engage the participants in a smaller interactive setting</li>
                  <li><b><a href="#speakers">Rising Stars and New Faculty Spotlights</a>:</b> Late-stage doctoral students, postdocs, and early-stage academics (0-5 years) are invited to apply for a talk with the focus being the human impact of their work</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
