<!-- Banner section -->
      <div class="sponsor-row">
        <div class="container" style="text-align: center;">
         <b>ANNOUNCEMENT</b>
         <br>
         <!--{{site.infoline_text}}-->
         <p>SOLD OUT! NO EVENT DAY REGISTRATION! <br>
         Due to the overwhelming demand, we are at capacity and unfortunately will not be able to accommodate any walk-in guests. Please be advised that you must show registration confirmation at the door in order to gain access to the symposium. We apologize for any inconvenience but any unregistered guests will be turned away at the door.</p>
         <p>If you are not feeling well, are exhibiting any symptoms of COVID-19, or have tested positive, please stay home from the conference. While not required, we highly encourage all attendees to wear a mask in an effort to to stop the spread of COVID-19. Looking forward to seeing everyone this Thursday and Friday. Stay healthy!</p>
        </div>
      </div>


