<!-- Papers section -->
      <div class="section scrollspy section-gray-section" id="papers">
        <div class="container">
          <h4 class="center-align section-gray-header">Papers & Posters</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left">
                We are now accepting two-page extended abstracts for {{site.conference_title_short}} {{site.year}}. We will select a limited number of contributions to be presented in a poster session and as short spotlight talks.
              </p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li>Paper length: maximum of two pages, including references</li>
                <li>We recommend the <a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE conference template</a></li>
                <li>Specific to this year's theme: Include a dedicated "Impacts" section highlighting the real-world impacts of the described work. What are the problems that people face that this work aims to solve? How does this work solve these problems?</li>
                <li>Submission deadline: Aug. 15th</li>
                <li>Accepted submissions will be announced on Aug. 30th</li>
                <li>We gladly accept submissions not currently under review that have already been accepted to other conferences such as ICRA, IROS, ACC, and others.</li>
              </ul>
            <p class="left">
                Please send your submissions via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "Paper Submission" in PDF format.
            </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
