<!-- Posters section -->
      <div class="section scrollspy section-gray-section" id="posters">
        <div class="container">
          <h4 class="center-align section-gray-header">Posters</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left">
                We are now accepting two-page abstracts of research to be presented at {{site.conference_title_short}} {{site.year}}. We will select a limited number of contributions to be presented in the poster session that highlight real impact. If you are interested in presenting a poster at {{site.conference_title_short}} {{site.year}}, please submit the following: 
              </p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li><b>Abstract:</b> A maximum of one page text, two pages total including figures and references</li>
                <ul class="browser-default">
                    <li>The focus of the abstract should be the human impacts of the work. What are the problems that people face that this work aims to solve? Who is affected by these problems? How does this work solve these problems?</li>
                </ul>
                <li><b>Format:</b> <a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE style recommended</a>, PDF format, size 10pt font</li>
                <li><b>Submission deadline</b>: Aug. 15th, 2022, Midnight PDT</li>
                <li>Accepted submissions will be announced on Aug. 30th, 2022, Midnight PDT</li>
                <li>NOTE: We will gladly accept submissions based on work that has already been accepted to other venues (conferences, journals, etc.)</li>
              </ul>
            <p class="left">
                Please send your PDF submissions via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "Poster Submission".
            </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
