<!-- Posters section -->
      <div class="section scrollspy section-white-section" id="posters">
        <div class="container">
          <h4 class="center-align section-white-header">Posters</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left"><b>Poster Guidelines:</b></p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <ul class="browser-default">
                <li>Format: maximum 36" x 48". Portrait (tall) orientation recommended but not required, this helps us with allocating space given the large number of posters we are expecting</li>
                <li><b>Bring your printed poster.</b> On-site poster printing will NOT be available. We will provide easels, posterboard, and mounting hardware (eg, clips)</li>
                <li>Content: keep in mind we will have a broad audience of general roboticists who are not necessarily familiar with your specific discipline                
                    <ul class="browser-default">
                        <li>Be sure to explicitly address theme of "real solutions to real problems impacting real people" and communicate the motivation and impacts of your work</li>
                        <li>Consider answering these questions: What problem does your work aim to solve? Who is affected by these problems? How will your work form a solution?</li>
                    </ul>
                </li>
                <li>Optionally, bring small physical demos and artifacts to accompany your poster</li>
              </ul>
            </div>

            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left"><b>Blitz Talks:</b></p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <ul class="browser-default">
                <li>Format: each poster presenter will have the opportunity to give a 45 second blitz talk before the poster session to introduce their work</li>
                <li>Slides: submit one slide as a PowerPoint (.ppt, .pptx) file with no animations, in 16:9 aspect ratio. A slide template is available <a href="/files/SCR_BlitzTalk_template.pptx">here</a></li>

                    <ul class="browser-default">
                        <li>Stick to common fonts available by default on a typical PC</li>
                        <li>Free alternatives to Microsoft PowerPoint include Google Slides and LibreOffice Impress, both of which export to .pptx</li>
                        <li>Keep reserved areas (indicated in the template) empty, for us to add timers and poster numbers</li>
                        <li>You do not need to use the template slide; the template is only used to indicate reserved space</li>
                    </ul>
                </li>

                <li>Talk: 45 seconds or less. Please time your talks beforehand; we have a packed schedule and will enforce limits</li>

                    <ul class="browser-default">
                        <li>We will introduce your name, affiliation, and poster title beforehand (this does not count against your 45 seconds). If you think it necessary, send us an email with how you would like us to announce (and pronounce) your name</li>
                        <li>Your 45 seconds should focus on content</li>
                    </ul>
                </li>
                
                <li>Day-of logistics: line up to be on-deck during the preceding 5 blitz talks, to allow a speedy and efficient turnaround. We will have almost 60 of these</li>

                    <ul class="browser-default">
                        <li>Blitz talks will be ordered by sequential poster number (provided at check-in). Line up as your blitz talk is coming up</li>
                    </ul>
                </li>

              </ul>

            </div>
          </div>
        </div>
      </div>
