<!-- Rising stars section -->
      <div class="section scrollspy section-white-section" id="risingstars">
        <div class="container">
          <h4 class="center-align section-white-header">Rising Stars Talks</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
                Calling all postdocs and late-stage doctoral students! In place of conventional faculty talks, {{site.conference_title_short}} {{site.year}} will spotlight the rising stars in robotics as they enter the faculty job market. We are now accepting applications for these 15 minute (12 min + questions) talks:
              </p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">              
              <ul class="browser-default">
                <li>Specific to this year's theme: Include a dedicated "Impacts" section highlighting the real-world impacts of your work. What are the problems that people face that your work aims to solve? How does your work solve these problems?</li>
                <li>Submission deadline: Aug. 15th</li>
                <li>Accepted submissions will be announced on Aug. 30th</li>
              </ul>
            <p class="left">
                Please send your applications via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "Rising Stars" in PDF format.
            </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
