<!-- Schedule section -->
      <div class="section scrollspy section-gray-section" id="schedule">
        <div class="container">
          <h4 class="center-align section-gray-header">Schedule</h4>

          <div class="row">
            <div class="col s6 m6 l6 section-gray-body">
              <table class="schedule">
                  <tr>
                      <h5 class="center-align"><b>Thursday 9/22</b></h5>
                  </tr>
                  {% for session in site.sessions %}

                    {% if session.day == 1 %}
                      <tr>
                        <th scope="row"><time>{{session.time}}</time></th>
                        <td>
                        <h5>{{session.title}} (<i>{{session.location}}</i>)</h5>
                        {% if {{session.subtitle}} != null %}
                            <p><i>{{session.subtitle}}</i></p>
                        {% endif %}
                        </td>
                      </tr>
                    {% else %}
                    {% endif %}

                  {% endfor %}
                </tbody>
              </table>
              <div class="col">
                <p class="left"><b>Locations:</b></p>
              </div>
              <div class="col">
                <ul class="browser-default">
                  <li>(E6) = Engineering VI</li>
                  <li>(L) = Luskin</li>
                  <li>(W) = Westwood</li>
                </ul>
              </div>
            </div>
            <div class="col s6 m6 l6 section-gray-body">
              <table class="schedule">
                  <tr>
                      <h5 class="center-align"><b>Friday 9/23</b></h5>
                  </tr>
                  {% for session in site.sessions %}

                    {% if session.day == 2 %}
                      <tr>
                        <th scope="row"><time>{{session.time}}</time></th>
                        <td>
                        <h5>{{session.title}} (<i>{{session.location}}</i>)</h5>
                        {% if {{session.subtitle}} != null %}
                            <p><i>{{session.subtitle}}</i></p>
                        {% endif %}
                        </td>
                      </tr>
                    {% else %}
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
