<!-- Schedule section -->
      <div class="section scrollspy section-gray-section" id="schedule">
        <div class="container">
          <h4 class="center-align">Schedule</h4>

          <div class="row">
            <div class="col s6 m5 l4 section-gray-body">
              <table class="schedule">
                  <tr>
                    <h4 class="center-align">Thursday 9/22</h4>
                  </tr>
                  {% for session in site.sessions %}

                    {% if session.day == 1 %}
                      <tr>
                        <th scope="row"><time>{{session.time}}</time></th>
                        <td>
                        <h5>{{session.title}}</h5>
                        </td>
                      </tr>
                    {% else %}
                    {% endif %}

                  {% endfor %}
                </tbody>
              </table>
            <div class="col s6 m5 l4 section-gray-body">
              <table class="schedule">
                  <tr>
                      <h4 class="center-align">Friday 9/23</h4>
                  </tr>
                  {% for session in site.sessions %}

                    {% if session.day == 2 %}
                      <tr>
                        <th scope="row"><time>{{session.time}}</time></th>
                        <td>
                        <h5>{{session.title}}</h5>
                        </td>
                      </tr>
                    {% else %}
                    {% endif %}

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
