<!-- Speakers section -->
      <div class="section scrollspy section-gray-section" id="speakers">
        <div class="container">
          <h4 class="center-align section-gray-header">Speakers</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left">
              Two speaker sessions will be held for <b>Rising Stars</b> and <b>New Faculty</b>. These sessions are meant to highlight late-stage doctoral students, postdocs, and early-stage academics. Eligibility and submission guidelines are as follows:</p>
            </div>

            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <p class="left"><b>Rising Stars Eligibility:</b></p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li>Late-stage doctoral students and postdoctoral researchers in the Southern California area</li>
                <li>Seeking to enter the faculty job market within the next 2 years</li>
              </ul>
            </div>

            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <p class="left"><b>New Faculty Eligibility:</b></p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li>Faculty members in the Southern California area within 0-5 years of their appointment</li>
                <li>Southern California graduates who are faculty members elsewhere within 0-5 years of their appointment</li>
              </ul>
            </div>
              
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <p class="left"><b>Submission Guidelines:</b></p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <ul class="browser-default">
                <li><b>Abstract:</b> A maximum of one page text, two pages total including figures and references</li>
                <ul class="browser-default">
                    <li>Specifically highlight the real-world impacts of your work. Most of your talk should focus on the motivation behind your work and its impacts rather than technical details. What problem will your work aim to solve? Who is affected by these problems? How will your work form a solution?</li>
                </ul>
                <li><b>Format:</b> <a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE style recommended</a>, PDF format, size 10pt font</li>
                <li><b>Submission deadline</b>: Aug. 15th, 2022, Midnight PDT</li>
                <li>Accepted submissions will be announced on Aug. 30th 2022, Midnight PDT</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left">
                Please send your PDF applications via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "New Faculty" or "Rising Stars".
              </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>

          </div>
        </div>
      </div>
