<!-- Speakers section -->
      <div class="section scrollspy section-gray-section" id="speakers">
        <div class="container">
          <h4 class="center-align section-gray-header">Speakers</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <p class="left"><b>Rising Stars Guidelines:</b></p>

              <ul class="browser-default">
                  <li>Structure: 8 minutes talk followed by 4 minutes Q&#A. Please time your talks beforehand, we have a packed schedule and will enforce limits</li>
                  <li>Day-of Logistics: be prepared to be on-deck during the preceding talk, to allow a speedy and efficient turnaround of 2 minutes</li>
                  <li>Content: keep in mind we will have a broad audience of general roboticists who are not necessarily familiar with your specific discipline                
                    <ul class="browser-default">
                      <li>Most of your talk should focus on the motivation and impacts of your work, rather than specific technical details</li>
                      <li>Consider answering these questions: What problem does your work aim to solve? Who is affected by these problems? How will your work form a solution?</li>
                    </ul>
                  </li>
                  <li>Technical Logistics: bring your own laptop to present slides. We will have a HDMI connection, but you are responsible for bringing any other adapters</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">              
              <p class="left"><b>New Faculty Guidelines:</b></p>

              <ul class="browser-default">
                  <li>Structure: 8 minutes talk followed by 3 minutes Q&#A. Please time your talks beforehand, we have a packed schedule and will enforce limits</li>
                  <li>Day-of Logistics: be prepared to be on-deck during the preceding talk, to allow a speedy and efficient turnaround of 2 minutes</li>
                  <li>Content: keep in mind we will have a broad audience of general roboticists who are not necessarily familiar with your specific discipline                
                    <ul class="browser-default">
                      <li>Most of your talk should focus on the motivation and impacts of your work, rather than specific technical details</li>
                      <li>Consider answering these questions: What problem does your work aim to solve? Who is affected by these problems? How will your work form a solution?</li>
                    </ul>
                  </li>
                  <li>Technical Logistics: bring your own laptop to present slides. We will have a HDMI connection, but you are responsible for bringing any other adapters</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
