<!-- Booths section -->
      <div class="section scrollspy section-white-section" id="sponsors">
        <div class="container">
          <h4 class="center-align section-white-header">List of Sponsors</h4>

          <div class="row">
            <div class="col s12 m12 l12 section-white-body">
              <p class="center">{{site.conference_title_short}} {{site.year}} is made possible by these organizations and companies:
              </p>
            </div>
          </div>

          <div class="row">
            <hr>
            <h5 class="center-align">Platinum Sponsors</h5>

            <div class="col l5 m6 s6 offset-l1">
              <a href="https://aws.amazon.com/opensource/"><img class="responsive-img" src="img/sponsors/amzn_rob_logo.png"></a>
            </div>
            <div class="col l5 m6 s6">
              <a href="https://aws.amazon.com/opensource/"><img class="responsive-img" src="img/sponsors/aws_os_logo.png"></a>
            </div>
          </div>


          <div class="row">
            <hr>
            <h5 class="center-align">Gold Sponsors</h5>

            <div class="col l4 m4 s6 offset-l4 offset-m4 offset-s3">
              <a href="https://ftx.com/"><img class="responsive-img" src="img/sponsors/ftx_logo.png"></a>
            </div>                                                    
         </div>

          <div class="row">
            <hr>
            <h5 class="center-align">Silver Sponsors</h5>

            <div class="col l4 m4 s4 offset-l1 offset-m1 offset-s1">
              <a href="https://hello-robot.com/"><img class="responsive-img" src="img/sponsors/hello_robot_logo.png"></a>
            </div>
            <div class="col l4 m4 s4 offset-l2 offset-m2 offset-s2">
              <a href="https://www.xprize.org/prizes/avatar"><img class="responsive-img" src="img/sponsors/xprize_logo.png"></a>
            </div>
            <div class="col l4 m4 s4 offset-l1 offset-m1 offset-s1">
              <a href=""><img class="responsive-img" src="img/sponsors/disney_logo.png"></a>
            </div>     	    
            <div class="col l4 m4 s4 offset-l2 offset-m2 offset-s2">
              <a href="https://samueli.ucla.edu/"><img class="responsive-img" src="img/sponsors/ucla_logo.png"></a>
            </div>     	    
         </div>

          <div class="row">
            <hr>
            <h5 class="center-align">Bronze Sponsors</h5>

            <div class="col l4 m4 s4 offset-l4 offset-m4 offset-s4">
              <a href="https://www.relativityspace.com/"><img class="responsive-img" src="img/sponsors/relativity_logo.png"></a>
            </div>      
          </div>
        </div>
      </div>

        
