<!-- Venue section --> 
      <div class="section scrollspy section-white-section" id="venue">
        <div class="container">
          <h4 class="center-align section-white-header">Venues</h4>

          <div class="row">
            <div class="col s12 m12 l6 section-white-body">
              <address>
                <b>Engineering VI</b><br />
                404 Westwood Plaza<br />
                Los Angeles, CA 90095
              </address>
              <p>
                <a href="{{site.directions-link}}">Directions to Engineering VI (Google Maps)</a>
              </p>
              <address>
                <b>Luskin Conference Center</b> <br />
                425 Westwood Plaza <br/>
                Los Angeles, CA 90095
              </address>
              <p>
                <a href="https://g.page/meetatluskin?share">Directions to Luskin Conference Center (Google Maps)</a>
              </p>

              <p></p>
              <div class="container" style="text-align:center">
                <a href="/files/SCR_directions.pdf" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Getting There</a>
              </div>
              <p></p>
            </div>

            <div class="col l6 s12 m12 section-white-body">
              <div class="google-maps">
                <iframe src="{{site.map-embed}}" frameborder="0" style="border:0" allowfullscreen></iframe>            
              </div>
            </div>

          </div>
        </div>
      </div>
