<!-- Venue section -->
      <div class="section scrollspy section-gray-section" id="venue">
        <div class="container">
          <h4 class="center-align section-gray-header">Venue</h4>

          <div class="row">
            <div class="col s12 m5 section-gray-body">
              <address>
                Mong Learning Center, Engineering VI<br />
                404 Westwood Plaza<br />
                Los Angeles, CA 90095
              </address>
              <p>
                <a href="{{site.directions-link}}">Directions to UCLA</a>
              </p>
              Local Accommodations:
              <ul class="browser-default">
                  <li><a href="https://luskinconferencecenter.ucla.edu">Luskin Conference Center</a></li>
                </ul>
            </div>
            <div class="col s12 m7 section-gray-body">
              <div class="google-maps">
                <iframe src="{{site.map-embed}}" frameborder="0" style="border:0" allowfullscreen></iframe>            
              </div>
            </div>

          </div>
        </div>
      </div>
