<!-- Workshops section -->
      <div class="section scrollspy section-white-section" id="workshops">
        <div class="container">
          <h4 class="center-align section-white-header">Workshops</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
                We are now accepting workshop/tutorial proposals for {{site.conference_title_short}} {{site.year}}. We will be selecting a small number of highly interactive human-centric workshops that highlight real impact. If you are interested in holding a workshop at {{site.conference_title_short}} {{site.year}}, please submit the following:
              </p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <ul class="browser-default">
                <li><b>Proposal:</b> A three-page proposal describing the activities of the proposed workshop including:
                <ol class="browser-default">
                    <li>Title for the workshop</li>
                    <li>List of organizers and their contact information (indicate primary contact)</li>
                    <li>Abstract (200 words maximum) summarizing the proposed event</li>
                    <li>Detailed description of the event highlighting the interactive elements and participant takeaways</li>
                    <li>Real-world impact and relevance of the workshop</li>
                    <li>Expected duration (3 hours maximum)</li>
                    <li>Maximum number of participants that can be supported</li>
                    <li>Required equipment/infrastructure and logistics</li>
                </ol>
                <li><b>Format:</b> <a href="https://www.ieee.org/conferences/publishing/templates.html">IEEE style recommended</a>, PDF format, size 10pt font</li>
                <li><b>Submission deadline</b>: July 31th, 2022, Midnight PDT</li>
                <li>Accepted submissions will be announced on Aug. 15th, 2022, Midnight PDT</li>
              </ul>
            <p class="left">
                Please send your PDF submissions via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "Workshop Proposal".
            </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
