<!-- Workshops section -->
      <div class="section scrollspy section-white-section" id="workshops">
        <div class="container">
          <h4 class="center-align section-white-header">Workshops & Tutorials</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <p class="left">
                We are now accepting workshop/tutorial proposals for {{site.conference_title_short}} {{site.year}}. We will select a limited number of workshops to be presented.
              </p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-white-body">
              <ul class="browser-default">
                <li>Submission deadline: July 31th, {{site.year}}</li>
                <li>Accepted submissions will be announced on Aug. 15th</li>
              </ul>
            <p class="left">
                Please send your submissions via e-mail to <a href="mailto:{{site.organizer-email}}">{{site.organizer-email}}</a> with the subject "Workshop Proposal" in PDF format.
            </p>
              <div class="container" style="text-align:center">
                <a href="mailto:{{site.organizer-email}}" class="btn-large" style="font-weight:bold; background-color: {{site.color.primary-dark}}">Submit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
