<!-- Workshops section -->
      <div class="section scrollspy section-gray-section" id="workshops">
        <div class="container">
          <h4 class="center-align section-gray-header">Workshops</h4>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left"><b>General Information:</b></p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <ul class="browser-default">
                <li>Workshops will be held on Thursday, Sept. 22 from 3-6pm</li>
                <li>Locations will vary between workshops, but are generally close to the Engineering VI building</li>
                <li>Submit your workshop preferences by Monday (9/19) night via the form emailed to all registrants</li>
                <li>There may be more attendees than a workshop has capacity for, so you may not be assigned to your first-choice workshop</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <p class="left"><b>Available Workshops:</b></p>
            </div>
            <div class="col s12 m10 offset-m1 l10 offset-l1 section-gray-body">
              <ul class="browser-default">
                <li><u>Make and Control Your Own Origami Robot!</u> (<a href="https://uclalemur.com/">LEMUR</a>) <br>
Get introduced to a computational design pipeline for developing folding robots. The event will lead participants through designing robot bodies, the effects of different parameters in simulation, manufacturing the robots and then controlling them in the real world.<br>
<i>Expected duration/capacity -1.5 hrs, 8 persons per session</i><br>
<i>Requirements - Each participant will need their own laptop with python and git pre-installed.</i>
                </li>
              </ul>

              <ul class="browser-default">
                <li><u>Undersea Origami Robots</u> (<a href="https://uclalemur.com/">LEMUR</a>) <br>
Learn how to design and build origami robots. Similar to the previous listing but focused on building undersea-inspired robots (sea turtles, starfish). These robots will be shown off as a performance during the opening reception, following which participants may get to take their robots home to continue to develop, play, and perform.
<i>Expected duration/capacity - 1.5 hrs, 16 persons per session </i><br>
<i>Requirements - Each participant will need their own laptop with python and git pre-installed. </i>
                </li>
              </ul>

              <ul class="browser-default">
                <li><u>Interactive Robot Aquarium: A Deeper Dive</u> (<a href="https://uclalemur.com/">LEMUR</a>) <br>
Participants will have the opportunity to take a deeper dive into the code behind the robots in the robot aquarium demo. Participants will have the opportunity to code their own formations or behaviors for multiple Pioneer 3DX robots (Python and ROS) or for one or two jellyfish robots (Arduino). Proficiency in python and some experience in Robot Operating System (ROS) or Arduino coding is recommended to get the most out of this workshop. Non-coders are welcome to come watch or team up with coders and work on the robots.<br>
<i>Expected duration/capacity - 3 hrs, 10 coders and 20 non-coders</i>
                </li>
              </ul>

              <ul class="browser-default">
                <li><u>An Interactive Tour of the Human Hand</u> (<a href="http://anatomics.seas.ucla.edu/">The Anatomical Engineering Group</a>)
Robotic design often takes inspiration from biological systems, especially in the context of fundamental mechanical structures. With a recent explosion in under-actuated, compliant, and otherwise biomimetic robotic graspers, there is more reason than ever to understand the basic mechanisms that drive human manipulation. Participants will explore the mechanical and neurological structures that drive hand function and gain an appreciation for the surgical techniques that enable the repair of these structures. Note: this is intended to be an interactive session in proximity of human cadaver tissues.<br>
<i>Expected duration/capacity - 1.5 hrs, 8 persons per session</i>
                </li>
              </ul>

              <ul class="browser-default">
                <li><u>Get in Touch: Tactile Sensing and Perception for Human-Robot Systems</u> (<a href="https://uclabiomechatronics.wordpress.com/">Biomechatronics Lab</a>)<br>
Participants may visit any of three interactive stations:<br>
<i>Tactile sensor design:</i>Learn about the basic components of a tactile sensor and interact with sensors that incorporate a variety of materials and transduction mechanisms.<br>
<i>Haptic search in granular materials:</i> Learn about the use of semi-autonomous robots for performing tasks in the field and noninvasive ways to convey touch to a remote human operator. Don a vibrotactile glove and perform a haptic search task in granular materials.<br>
<i>Teleoperation of a robot avatar:</i> Learn about human-machine interfaces and the use of robot avatars to perform manual tasks and provide social interaction. Don a virtual reality headset and vibrotactile glove, and teleoperate a mobile manipulator using natural head and hand movements. <br>
<i>Expected duration/capacity - 15 minutes per station, 6 persons per station</i>
                </li>
              </ul>

              <ul class="browser-default">
                <li><u>Wearable Robotics Workshop / UCLA Bionics Lab Tour</u> (<a href="http://bionics.seas.ucla.edu/">Bionics Lab</a>)
Learn about the benefits of wearable sensor-based motion capture systems and get a chance to try a system on! Also have the opportunity try on various exoskeletons such as a backwards-bending knee device meant to increase energy efficiency during walking. <br>
<i>Expected duration/capacity - 30 minutes, 15 persons per session</i>
                </li>
              </ul>

              <ul class="browser-default">
                <li><u>RoMeLa Robot Demonstrations</u> (<a href="https://www.romela.org/">RoMeLa</a>)<br>
Learn about the history of developing humanoids using position-controlled actuators to new dynamic humanoids and legged robots using proprioceptive actuators. There will be multiple robots that you can interact with and even control!<br>
<i>Expected duration/capacity - 30 minutes, 20 persons per session</i>
                </li>

              </ul>
            </div>
          </div>
        </div>
      </div>
